@using System.Web.Security;
@using MessageSlips.Models;

@{
    Layout = null;
    ViewBag.Title = "Set up password";
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!--import foundation 5-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/bootstrap-theme.min.css")
    <title>Message Slips - Websmith Group</title>
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/component.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/mainstyle.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/css/foundation.css" />

    <script src="~/Content/foundation-5/js/vendor/modernizr.js"></script>
</head>
<body class="main-background">

    <!--header including logo and title-->
    <div>
        <div class="row top">
            <div class="large-12 columns">
                <div class="large-only-text-center">
                    <h1 class="logo" align="center">
                        <img src="~/Content/foundation-5/img/wsgh59i.png">
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
           <div class="large-3 columns"><br /></div>
           <div class="large-6 columns radius panel text-center">
               <h6 id="textstyle">Please create your password before using the application!</h6>
               <!--Forcing first-time user to make their password - HomeController - ChangePassword-->
               @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
               {
                   <form method="post">
                       <label id="textstyle" style="text-align: center; color: red;">
                           @Html.ValidationMessage("PasswordsValidation")
                       </label>
                       <label id="textstyle">
                           New Password:<span style="color: red;">*</span>
                           <input type="password" name="newPassword" placeholder="New Password" required>
                       </label>
                       <label id="textstyle">
                           Confirmed new password:<span style="color: red;">*</span>
                           <input type="password" name="confirmedNewPassword" placeholder="Confirmed Password" required>
                       </label>
                       <div class="large-6 small-8 columns small-centered">
                           <input type="submit" id="login" class="button special expand round" style="font-family: 'Libre Baskerville', serif;" value="Submit" />
                       </div>
                   </form>                   
               }
           </div>
           <div class="large-3 columns"><br /></div>
        </div>
    </div>
</body>
</html>