@using System.Data.SqlClient
@using MessageSlips.Models
@using System.Web.Mvc;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Dashboard";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Websmith Group</title>
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/component.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/mainstyle.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/css/foundation.css" />

    <script src="~/Content/foundation-5/js/vendor/modernizr.js"></script>
</head>
<body>
    <div class="row">
        <div class="large-3 columns">
            <div class="row">
                <div class="large-12">
                    <div id="main" class="radius panel">
                        @{
                            MessageSlips.Models.MessageSlipsWSGEntities db = new MessageSlips.Models.MessageSlipsWSGEntities();
                            foreach (var user in db.Users)
                                {
                                <label class="button special expand round">@user.firstName @user.lastName</label>
                                }
                            <!---string index = "SELECT COUNT(*) FROM [dbo].[User]";
                            int count = 0;
                            using (SqlConnection thisConnection = new SqlConnection("Data Source=JDANG-PC\SQLEXPRESS")) 
                            {
                                using (SqlCommand cmdCount = new SqlCommand(index, thisConnection))
                                {
                                    thisConnection.Open();
                                    count = (int)cmdCount.ExecuteScalar();
                                }
                            }
                            for (var i = 0; i <= count; i++)
                            {
                                
                            }-->
                        }
                    </div>
                </div>
            </div>           
        </div>
        <div class="large-9 columns">
            <div id="main" class="radius panel">Messages go here</div>
        </div>
    </div>
</body>
