@{
    Layout = null;
}

 <!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/bootstrap-theme.min.css")
    <title>Message Slips - Websmith Group</title>
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/component.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/mainstyle.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/css/foundation.css" />

    <script src="~/Content/foundation-5/js/vendor/modernizr.js"></script>
</head>
<body class="main-background">

    <!--header-->
    <div>
        <div class="row top">
            <div class="large-12 columns">
                <div class="large-only-text-center">
                    <h1 class="logo"><img src="~/Content/foundation-5/img/wsgh59i.png"></h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <div class="large-only-text-center">
                    <h1 class="main-header">Welcome to Message Slips!</h1>
                </div>
            </div>
        </div>
    </div>

    <!--body-->
    <div>
        <div class="row">
            <div class="large-6 columns">
                <div id="main" class="radius panel">
                    <div class="row" id="login_form">
                        <h6 class="text-center subheader" id="textstyle">Please Sign in</h6>
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post)) {
                            <div class="large-8 columns small-12 small-centered">
                                <label id="textstyle">
                                    User Name:<span style="color:red;">*</span>
                                    <input type="text" name="userName" id="user_name" placeholder="Username" required>
                                </label>
                                <label id="textstyle">
                                    Password:<span style="color:red;">*</span>
                                    <input type="password" name="password" id="password" placeholder="Password" required>
                                </label>
                            </div>
                            <div class="large-3 small-8 columns small-centered">
                                <input type="submit" class="button special expand round" value="Sign in"/>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="large-6 columns">
                <div id="main" class="radius panel">
                    <div class="row" id="login_form">
                        <h6 class="text-center subheader" id="textstyle">Sign in using your Google account</h6>
                        <p class="small-text-center" id="textstyle">Function is under construction<br /></p>
                    </div>
                </div>
            </div>

            <div class="row hide">
                <div class="large-12 columns">
                    <div class="radius panel">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div>
        <div class="row">
            <div class="large-12 columns" id="footerborder">
                <p class="left" id="footertext">2015 &copy; Websmith Group</p>
            </div>
        </div>
    </div>

    <script src="~/Content/foundation-5/js/vendor/jquery.js"></script>
    <script src="~/Content/foundation-5/js/foundation.min.js"></script>
    <script src="~/Content/foundation-5/js/jquery.stickyheader.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="~/Content/foundation-5/js/lma.js"></script>
</body>
</html>
