<!--
    Message Slips Web Application
    Jason Dang
    Web application to keep track with call-backs and messages for Websmith Group staff
    Building base on .NET MVC framework and using C#, HTML5, JQuery, JavaScript, CSS, Foundation 5, and SQL
-->

@using System.Web.Security;
@using MessageSlips.Models;

@{
    Layout = null;
    ViewBag.Title = "Please Sign in";
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!--import Foundation 5-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/bootstrap-theme.min.css")
    <title>Message Slips - Websmith Group</title>
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/component.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/mainstyle.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/css/foundation.css"/>

    <script src="~/Content/foundation-5/js/vendor/modernizr.js"></script>
    
    <!--Google Auth2-->
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/userinfo.profile">
    <meta name="google-signin-client_id" content="744487569555-kt74gfddda25epbk1bkfnc66gv2eu72k.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
<body class="main-background">

    <!--header including logo and title-->
    <div>
        <div class="row top">
            <div class="large-12 columns">
                <div class="large-only-text-center">
                    <h1 class="logo" align="center"><img src="~/Content/foundation-5/img/wsgh59i.png">
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="large-12 columns">
                <div class="large-only-text-center">
                    <h1 class="main-header">Message Slips</h1>                   
                </div>
                <div class="large-block-grid-6 columns">
                    <h6 class="sub-header">- a better way for managing messages</h6>
                </div>
            </div>
        </div>
    </div>

    <!--body-->
    <div>
        <div class="row">
            <div class="large-6 columns">
                <div id="main" class="radius panel">
                    <div class="row" id="login_form">
                        <h6 class="text-center subheader" id="textstyle" name="messageHolder">@ViewBag.Title</h6>
                        <div><h6 class="text-center subheader" id="textstyle"><p id="messageHolder" name="messageHolder" /></h6></div>
                        <!--User login (HomeController - Index)-->
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
                            <form method="post">
                                <label id="textstyle" style="text-align: center; color: red;">
                                    @Html.ValidationMessage("SigninError")
                                </label>
                                <div class="large-8 columns small-12 small-centered">
                                    <label id="textstyle">
                                        Username:<span style="color:red;">*</span>
                                        <input type="text" name="userName" id="username" placeholder="Username" required>
                                    </label>
                                    <label id="textstyle">
                                        Password:<span style="color:red;">*</span>
                                        <input type="password" name="password" id="password" placeholder="Password" required>
                                    </label>
                                </div>
                                <div class="large-3 small-8 columns small-centered">
                                    <input type="submit" class="button special expand round" style="font-family: 'Libre Baskerville', serif;" name=" btnlogin" onclick="loginMessage()" value="Sign in" />
                                </div>                                                                                            
                            </form>
                        }
                    </div>
                </div>
            </div>
            <!--Create account using Google email (user can create account on their own without contacting admin)-->
            <div class="large-6 columns">
                <div id="main" class="radius panel">
                    <div class="row">
                        <h6 class="text-center subheader" id="textstyle">Or create an account using Google email!</h6>                               
                    </div>
                    <div class="row">                       
                        <div class="small-2 large-4 columns"> <br /></div>
                        <div class="small-4 large-4 columns">
                            <!--Google sign in button-->
                            <div class="g-signin2" id="googleBtn" data-onsuccess="onSignIn" data-theme="dark"></div>                      
                        </div>
                        <div class="small-6 large-4 columns"> <br /></div>
                           
                        
                    </div>
                    <script>
                        function onSignIn(googleUser) {
                            //Getting basic profile from Google user
                            var profile = googleUser.getBasicProfile();
                            //User first + last name
                            var googleName = profile.getName();
                            //User email address
                            var googleEmail = profile.getEmail();
                            //Passing back to HomeController - ExternalLogin
                            $.ajax({
                                type: 'POST',
                                url: 'ExternalLogin',
                                data: {
                                    name: googleName,
                                    email: googleEmail
                                },
                                success: function (result) {
                                    //Sign in success
                                    alert("Welcome! Now you can use your websmith email to log in!")
                                    window.location.href = "ChangePassword" //Force user to set up/change default password
                                },
                                error: function (xhr, status, error) {
                                    //Sign in fail
                                    //Resolvable by sign off all google account and quit web browser
                                    alert("Something is wrong. Please check with your administrator!")
                                }
                            });
                            
                        };
                    </script> 
                </div>
            </div>

            <div class="row hide">
                <div class="large-12 columns">
                    <div class="radius panel">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div>
        <div class="row">
            <div class="large-12 columns" id="footerborder">
                <p class="left" id="footertext">2015 &copy; Websmith Group</p>
            </div>
        </div>
    </div>

    <script src="~/Content/foundation-5/js/vendor/jquery.js"></script>
    <script src="~/Content/foundation-5/js/foundation.min.js"></script>
    <script src="~/Content/foundation-5/js/jquery.stickyheader.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script src="~/Content/foundation-5/js/lma.js"></script>
</body>
</html>
