@using System.Web.Security;
@using MessageSlips.Models;

@{
    Layout = null;
    ViewBag.Title = "Please Sign in";
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/bootstrap-theme.min.css")
    <title>Message Slips - Websmith Group</title>
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/component.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/mainstyle.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/css/foundation.css"/>

    <script src="~/Content/foundation-5/js/vendor/modernizr.js"></script>
</head>
<body class="main-background">

    <!--header-->
    <div>
        <div class="row top">
            <div class="large-12 columns">
                <div class="large-only-text-center">
                    <h1 class="logo" align="center"><img src="~/Content/foundation-5/img/wsgh59i.png">
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="large-12 columns">
                <div class="large-only-text-center">
                    <h1 class="main-header">Welcome to Message Slips!</h1>
                </div>
            </div>
        </div>
    </div>

    <!--body-->
    <div>
        <div class="row">
            <div class="large-6 columns">
                <div id="main" class="radius panel">
                    <div class="row" id="login_form">
                        <h6 class="text-center subheader" id="textstyle" name="messageHolder">@ViewBag.Title</h6>
                        <div><h6 class="text-center subheader" id="textstyle"><p id="messageHolder" name="messageHolder" /></h6></div>
                            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                            {
                                    <script type="text/javascript">
                                        /*$("btnLogin").click(function() {
                                                $.getJSON("LoginMessage",
                                                    $.ajax({
                                                        type: "post",
                                                        url: "~/Controllers/HomeController/LoginMessage",
                                                        success: function (data) {
                                                            alert("Woohoo");
                                                        },
                                                        error: function () {
                                                            alert("asdasdasd");
                                                        }
                                                    })
                                            );
                                        });*/
                                        /*function loginMessage() {
                                        $.getJSON("LoginMessage",
                                                $.ajax({
                                                    type: "post",
                                                    url: "~/HomeController/LoginMessage",
                                                    success: function (data) {
                                                        alert(data)                                                      
                                                    },
                                                    error: function () {
                                                        alert("ohhhhh crapppppp error :( ");
                                                    }
                                                })
                                            );
                                    }*/
                                        /*function loginMessage() {
                                        $.getJSON("LogginMessage", function (data) {
                                            alert(data);
                                        });
                                            $.ajax({
                                                type: "POST",
                                                URL: "~/Controllers/HomeController/LoginMessage",
                                                success: function (respone) {
                                                    $("#messageHolder").html("Successfully signed in!");
                                                    {
                                                        MessageSlips.Models.User login = new MessageSlips.Models.User();
                                                        if (Membership.ValidateUser(login.userName, login.password))
                                                        {
                                                            
                                                        }
                                                    }
                                                },
                                                error: function () {
                                                    $("#messageHolder").html("Incorrect username or password!!!");
                                                }
                                        }));
                                    }*/
                                    </script>
                                <form method="post">
                                    <div class="large-8 columns small-12 small-centered">
                                        <label id="textstyle">
                                            Username:<span style="color:red;">*</span>
                                            <input type="text" name="userName" id="username" placeholder="Username" required>
                                        </label>
                                        <label id="textstyle">
                                            Password:<span style="color:red;">*</span>
                                            <input type="password" name="password" id="password" placeholder="Password" required>
                                        </label>
                                    </div>
                                    <div class="large-3 small-8 columns small-centered">
                                        <input type="submit" class="button special expand round" style="font-family: 'Libre Baskerville', serif;" name=" btnlogin" onclick="loginMessage()" value="Sign in" />
                                    </div>
                                    
                                </form>
                            }

                    </div>
                </div>
            </div>

            <div class="large-6 columns">
                <div id="main" class="radius panel">
                    <div class="row" id="login_form">
                        <h6 class="text-center subheader" id="textstyle">Sign in using your Google account</h6>
                        <!--using (Html.BeginForm("ExternalLogin", "Home", new { ReturnUrl = Model.ReturnUrl })) {
                        Html.AntiForgeryToken()
                        <div id="socialLoginList">
                            <p>
                                foreach (AuthenticationDescription p in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" id="p.AuthenticationType" name="provider" value="p.AuthenticationType" title="Log in using your p.Caption account">p.AuthenticationType</button>
                                }                               
                            </p>
                        </div>
                        }-->
                    </div>
                </div>
            </div>

            <div class="row hide">
                <div class="large-12 columns">
                    <div class="radius panel">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div>
        <div class="row">
            <div class="large-12 columns" id="footerborder">
                <p class="left" id="footertext">2015 &copy; Websmith Group</p>
            </div>
        </div>
    </div>

    <script src="~/Content/foundation-5/js/vendor/jquery.js"></script>
    <script src="~/Content/foundation-5/js/foundation.min.js"></script>
    <script src="~/Content/foundation-5/js/jquery.stickyheader.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script src="~/Content/foundation-5/js/lma.js"></script>
</body>
</html>
