@model MessageSlips.Models.User
@using System.Web.Optimization;
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap-theme.min.css")
    <title>Login</title>
</head>
<body>
    <div class="centered text-center" style="margin-top:25%">
        <img src="~/Content/Images/wsgh59i.png" /><br />
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {

            <label>Username</label>
            <input type="text" name="Username" /><br />
            <label>Password</label>
            <input type="password" name="Password" /><br />
            <input type="submit" class="btn btn-primary" value="Login" />

        } 
    </div>
</body>
</html>