@{
    ViewBag.Title = "Message";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Websmith Group</title>
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/component.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/foundation-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/foundation-5/css/mainstyle.css" />
    <link rel="stylesheet" href="~/Content/foundation-5/css/foundation.css" />

    <script src="~/Content/foundation-5/js/vendor/modernizr.js"></script>
</head>
<body>
    <div class="row">
        <div class="large-3 columns"><h1></h1></div>
        <div class="large-6 columns radius panel">
            <h6 class="text-center subheader" id="textstyle">Create New Message Slip</h6>
            <form>
                <div class="large-12 columns">
                    <label id="textstyle">
                        To:<span style="color:red;">*</span>
                        <input type="text" placeholder="First, Last" required>
                    </label>
                    <label id="textstyle">
                        From:<span style="color:red;">*</span>
                        <input type="text" placeholder="First, Last" required>
                    </label>
                    <label>
                        Categories:<span style="color:red;">*</span>
                        <select required>
                            <optgroup label="Clients:">
                                <option value="New Client">New Client</option>
                                <option value="Current Client">Current Client</option>
                            </optgroup>
                            <optgroup label="Others:">
                                <option value="Telemarketing">Telemarketing</option>
                                <option value="Other">Other (Please specify in Other field below)</option>
                                <option value="N/A">N/A</option>
                            </optgroup>
                        </select>
                    </label>
                    <label>
                        Date:<span style="color:red;">*</span>
                        <input type="date" placeholder="mm-dd-yyyy" required>
                    </label>
                    <label>
                        Time:<span style="color:red;">*</span>
                        <input type="time" placeholder="mm-dd-yyyy" required>
                    </label>
                    <label>
                        Phone (if applicable):
                        <input type="tel" placeholder="xxx-xxx-xxxx" maxlength="10">
                    </label>
                    <label>
                        Message:<span style="color:red;">*</span>
                        <textarea rows="4" cols="50" placeholder="Please enter message" required></textarea>
                    </label>
                    <label>
                        Address (if applicable):
                        <input type="text" placeholder="Please enter address" maxlength="50">
                    </label>
                    <label>
                        Other (if applicable):
                        <textarea rows="4" cols="40" placeholder="Please enter other info."></textarea>
                    </label>
                </div>
                <div class="large-3 small-8 columns small-centered">
                    <a href="#" id="login" class="button special expand round">Submit</a>
                </div>
            </form>
        </div>
        <div class="large-3 columns"><h1></h1></div>
    </div>
</body>