@using System.Data.Entity.Infrastructure
@using System.Web.Optimization
@using MessageSlips.Models
@model MessageSlips.Models.UsersViewModel
@{
    ViewBag.Title = "Add/Delete User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
    Admin user funtion only
    Add/Delelte any users manually
-->
<body>
    <!--Non-admin users block access-->
@using (Html.BeginForm("Setting", "Home", FormMethod.Post))
{
    if (MessageSlips.Controllers.HomeController.CurrentAdmin == false)
    {
        <div class="row">
            <div class="large-3 columns"><br/></div>
            <div class="large-6 columns radius panel text-center">
                <h6 id="textstyle">Sorry, you have to be an admin in order to access this function!</h6>
            </div>
            <div class="large-3 columns"><br/></div>
        </div>
    }
    else if (MessageSlips.Controllers.HomeController.CurrentAdmin == true)
    {
        <div class="row">
            <div class="large-12 columns">
                <div class="large-5 columns">
                    <div class="radius panel">
                        <h6 class="text-center subheader" id="textstyle">Delete a User</h6>
                        <!--
                            Delete a user
                            Providing all users' account
                        -->
                        @using (Html.BeginForm("Setting", "Home", FormMethod.Post))
                        {
                            MessageSlips.Models.MessageSlipsWSGEntities db = new MessageSlips.Models.MessageSlipsWSGEntities();
                            <select name="users" size="1" style="background-color: whitesmoke">
                                @foreach (var user in db.Users)
                                {
                                    <option id="user" style="color: black" value="@user.userName">@user.userName</option>
                                }
                            </select>
                            <div class="large-6 small-8 columns small-centered">
                                <input type="submit" id="login" class="button special expand round" style="font-family: 'Libre Baskerville', serif;" value="Delete User" />
                            </div>
                        }
                    </div>
                </div>
                <div class="large-6 columns radius panel">
                    <h6 class="text-center subheader" id="textstyle">Enter required information below to create new user</h6>
                    <!--
                        Create a user account
                        All fields are required except Admin is optional
                    -->
                    @using (Html.BeginForm("Setting", "Home", FormMethod.Post))
                    {
                        <form method="post">
                            <label id="textstyle" style="text-align: center; color: red;">
                                @Html.ValidationMessage("PasswordsValidation")
                            </label>
                            <label id="textstyle" style="text-align: center; color: red;">
                                @Html.ValidationMessage("UserExist")
                            </label>
                            <label id="textstyle">
                                Username:<span style="color: red;">*</span>
                                <input type="text" name="newUsername" placeholder="Username" required>
                            </label>
                            <label id="textstyle">
                                Password:<span style="color: red;">*</span>
                                <input type="password" name="newPassword" placeholder="Password" required>
                            </label>
                            <label id="textstyle">
                                Confirmed password:<span style="color: red;">*</span>
                                <input type="password" name="confirmedNewPassword" placeholder="Confirmed Password" required>
                            </label>
                            <label id="textstyle">
                                Email:<span style="color: red;">*</span>
                                <input type="email" name="newEmail" placeholder="Email" required>
                            </label>
                            <label id="textstyle">
                                Admin:
                                <input type="checkbox" value="true" name="admin">
                            </label>
                            <label id="textstyle">
                                First Name:<span style="color: red;">*</span>
                                <input type="text" name="newFirstName" placeholder="First Name" required>
                            </label>
                            <label id="textstyle">
                                Last Name:<span style="color: red;">*</span>
                                <input type="text" name="newLastName" placeholder="Last Name" required>
                            </label>
                            <div class="large-4 small-8 columns small-centered">
                                <input type="submit" id="login" class="button special expand round" style="font-family: 'Libre Baskerville', serif;" value="Create User" />
                            </div>                           
                        </form>                      
                    }
                </div>
            </div>
        </div>
    }
}
</body>